*{
    padding: 0;
    margin: 0;
}
body{
    background: url(./background.jpg);
    /* background: #222; */
    background-size: cover;
    overflow: hidden;
}
/* Nav */

.next {
    position: absolute;
    top: 30px;
    left: 100px;
    background: url('../snowCloud.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px;
    width: 50px;
    height: 50px;
    opacity: 0.9;
    cursor: pointer;
}
.next2 {
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 200px;
    background: url('../raincloud.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px;
    width: 70px;
    height: 70px;
}
 a{
    text-decoration: none;
    color: aqua;
    position: absolute;
    /* top: 20px; */
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Nav */


section{
    position: relative;
    top: 0;
    left: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section i{
    position: absolute;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 1px whitesmoke,
                0 0 2px whitesmoke;
    animation: animate linear infinite;
}

section i:nth-child(even){
    border: 1px solid #fff;
}

@keyframes animate {
    0%{
        transform: translateY(0%);
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    50%{
        transform: translateY(2000%);
        opacity: 1;
    }
    95%{
        opacity: 1;
    }
    100%{
        transform: translateY(4000%);
        opacity: 0;
    }
}