*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    scroll-behavior:smooth;
}

/* Nav */
.next {
    position: absolute;
    top: 30px;
    left: 100px;
    background: url('../snow/snowCloud.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px;
    width: 50px;
    height: 50px;
    opacity: 0.9;
    z-index: 1;
}
.next2 {
    position: absolute;
    top: 20px;
    left: 200px;
    background: url('../snow/raincloud.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px;
    width: 70px;
    height: 70px;
}
 a{
    text-decoration: none;
    color: aqua;
    position: absolute;
    /* top: 20px; */
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Nav */
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    opacity: 9;
    display: flex;
}

section .background
{
    width: 100%;
    opacity: 3;
    z-index: -1;
}

section #sound 
{
    position: absolute;
    z-index: 100;
    top: 20px;
    left: 40px;
    height: 30px;
}
section #imgBtn 
{
    position: absolute;
    z-index: 100;
    top: 60px;
    left: 80px;
    height: 30px;
}
